<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:auditorium.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
    </bean>
    <bean class="ru.epam.spring.hometask.utils.UserBundle" id="UserBundle"/>
    <bean class="ru.epam.spring.hometask.DAO.UserDAO" init-method="init" id="UserDAO"/>
    <bean class="ru.epam.spring.hometask.utils.wrapper.UserServiceWraper" id="userWrapper">
        <constructor-arg ref="UserDAO"/>
        <constructor-arg ref="UserBundle"/>
    </bean>
    <bean class="ru.epam.spring.hometask.DAO.AuditoriumDAO" id="AuditoriumDAO">
        <property name="DB">
            <set>
                <bean class="ru.epam.spring.hometask.domain.Auditorium" scope="prototype">
                    <constructor-arg>
                        <value type="java.lang.String">${auditorium.alpha}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value type="java.lang.Long">${auditorium.alpha.seats}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value type="java.lang.String[]">${auditorium.alpha.vipseats}</value>
                    </constructor-arg>
                </bean>
                <bean class="ru.epam.spring.hometask.domain.Auditorium" scope="prototype">
                    <constructor-arg>
                        <value type="java.lang.String">${auditorium.betta}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value type="java.lang.Long">${auditorium.betta.seats}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value type="java.lang.String[]">${auditorium.betta.vipseats}</value>
                    </constructor-arg>
                </bean>
            </set>
        </property>
    </bean>
    <bean class="ru.epam.spring.hometask.utils.wrapper.AuditoriumServiceWrapper" id="AuditoriumWrapper">
        <constructor-arg ref="AuditoriumDAO"/>
    </bean>
    <bean class="ru.epam.spring.hometask.DAO.EventDAO" init-method="init" id="EventDAO"/>
    <bean class="ru.epam.spring.hometask.utils.wrapper.EventServiceWrapper" init-method="init" id="EventWrapper">
        <constructor-arg ref="EventDAO"/>
        <constructor-arg ref="AuditoriumDAO"/>
    </bean>
    <bean class="ru.epam.spring.hometask.DAO.DiscountDAO" id="DiscountDAO">
        <property name="strategies">
            <list>
                <bean class="ru.epam.spring.hometask.DAO.DiscountStrategys.BirthDayStrategy"/>
                <bean class="ru.epam.spring.hometask.DAO.DiscountStrategys.Every10thTicketStrategy"/>
            </list>
        </property>
    </bean>
    <bean class="ru.epam.spring.hometask.DAO.TicketsDAO" id="TicketDAO">
        <constructor-arg ref="DiscountDAO"/>
    </bean>
    <bean class="ru.epam.spring.hometask.utils.wrapper.BookingServiceWrapper" id="BookingWrapper">
        <constructor-arg ref="TicketDAO"/>
        <constructor-arg ref="EventDAO"/>
        <constructor-arg ref="UserDAO"/>
    </bean>

</beans>